<li class="separator"></li>
<li data-key="latex_compile" onclick="window.open('/latex/renderpdf?padId=<%= padId %>','_blank')">
    <a id="latex_compile_links" title="Compile LaTeX PDF" target="EtherLaTeX PDF" href="#" style="padding-bottom: 2px; padding-top:2px;">
        <img src="/latex/latex-logo.png" height="20"/>
    </a>
</li>
<li class="separator></li>
